.ui-like{
--icon-size: 24px;
--icon-secondary-color: #282828;
--icon-hover-color: #d3cdcd;
--icon-primary-color: #e61a1a;
--icon-circle-border: 1px solid var(--icon-primary-color);
--icon-circle-size: 35px;
--icon-anmt-duration: 0.3s;
}
.ui-like input{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: none;
}
.ui-like .like{
    width: var(--icon-size);
    height: auto;
    fill: var(--icon-secondary-color);
    fill: var(--icon-hover-color);
    cursor: pointer;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
}
.like::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    -webkit-box-shadow: 0 30px 0 -4px var(--icon-primary-color),
        30px 0 0 -4px var(--icon-primary-color),
        0 -30px 0 -4px var(--icon-primary-color),
        -30px 0 0 -4px var(--icon-primary-color),
        -22px 22px 0 -4px var(--icon-primary-color),
        -22px -22px 0 -4px var(--icon-primary-color),
        22px -22px 0 -4px var(--icon-primary-color),
        22px 22px 0 -4px var(--icon-primary-color);
    box-shadow: 0 30px 0 -4px var(--icon-primary-color),
        30px 0 0 -4px var(--icon-primary-color),
        0 -30px 0 -4px var(--icon-primary-color),
        -30px 0 0 -4px var(--icon-primary-color),
        -22px 22px 0 -4px var(--icon-primary-color),
        -22px -22px 0 -4px var(--icon-primary-color),
        22px -22px 0 -4px var(--icon-primary-color),
        22px 22px 0 -4px var(--icon-primary-color);
    border-radius: 50%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}
.like::before{
    content: "";
    position: absolute;
    border-radius: 50%;
    border: var(--icon-circle-border);
    opacity: 0;
}
.ui-like:hover .like{
    fill: var(--icon-hover-color);
    opacity: 100%;
}
.ui-like input:checked + .like::after{
    -webkit-animation: circles var(--icon-anmt-duration)
        cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
    animation: circles var(--icon-anmt-duration)
        cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
    -webkit-animation-delay: var(--icon-anmt-duration);
    animation-delay: var(--icon-anmt-duration);
}
.ui-like input:checked + .like{
    fill: var(--icon-primary-color);
    -webkit-animation: like var(--icon-anmt-duration) forwards;
    animation: like var(--icon-anmt-duration) forwards;
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
    opacity: 100%;
}
.ui-like input:checked + .like::before{
    -webkit-animation: circle var(--icon-anmt-duration)
        cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
    animation: circle var(--icon-anmt-duration)
        cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
    -webkit-animation-delay: var(--icon-anmt-duration);
    animation-delay: var(--icon-anmt-duration);
}
@-webkit-keyframes like{
    50%{
        -webkit-transform: scaleY(0.6);
        transform: scaleY(0.6);
    }
    100%{
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}
@keyframes like{
    50%{
        -webkit-transform: scaleY(0.6);
        transform: scaleY(0.6);
    }
    100%{
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}
@-webkit-keyframes circle{
    from{
        width: 0;
        height: 0;
        opacity: 0;
    }
    90%{
        width: var(--icon-circle-size);
        height: var(--icon-circle-size);
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
@keyframes circle{
    from{
        width: 0;
        height: 0;
        opacity: 0;
    }
    90%{
        width: var(--icon-circle-size);
        height: var(--icon-circle-size);
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
@-webkit-keyframes circles{
    from{
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40%{
        opacity: 1;
    }
    to{
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        opacity: 0;
    }
}
@keyframes circles{
    from{
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40%{
        opacity: 1;
    }
    to{
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        opacity: 0;
    }
}



@media (min-width: 200px) and (max-width: 991px) { 
    .blog-card{
        font-size: 12px;
    }
    .blog-card h1{
        font-size: 20px;
        line-height: 25.41px;
    }
    .navbar-brand{
        width: 10%;
    }
    .search-bar{
        width: 50%;
    }
}

@media (min-width: 200px) and (max-width: 475px) { 
    .durrr .davi{
        width: max-content;
        gap: 1rem !important;
    }
    .hero-bg{
        height: 65vh;
    }
    .hero-bg .card{
        width: 75%;
        font-size: 14px;
    }
    .hero-bg .card h1{
        font-size: 22px;
        line-height: 30.51px;
    }
    .blog-card{
        font-size: 12px !important;
    }
    .menu-fl{
        transform: translateY(1%);
        right: 12px;
    }
    .profile-card-social{
        padding-left: 10rem !important;
    }
    .profile-options .btn,
    .upload-btn{
        width: 45% !important;
    }
    .blog-btn{
        font-size: 12px !important;
    }
    .menu-fl{
        top: 70px;
    }
    #indexBody{
        height: 100vh !important;
        overflow: hidden;
        position: relative;
    }
    #indexBody:after{
        content: "";
        position: absolute;
        bottom: -10%;
        overflow: hidden;
        right: -10% !important;
        width: 537px;
        height: 337px;
        border-radius: 60%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .herosection .card h1{
        font-size: 56px;
        line-height: 60.61px;
    }
    .herosection .card .hero-btn{
        width: 203px;
    }
    .herosection .card-img img{
        width: 70%;
        transform: translateX(-5%) translateY(-20%);
    }
}

@media (min-width: 767px) and (max-width: 991px) { 
    .blog-card{
        font-size: 12px;
    }
    .blog-card h1{
        font-size: 20px;
        line-height: 25.41px;
    }
    .carousel-item .studentcard{
        display: flex !important;
        flex-direction: row !important;
    }
    .hero-bg{
        height: 54vh;
    }
    .hero-bg .card{
        width: 53%;
    }
    .hero-bg .card h1{
        font-size: 32px;
        line-height: 40.51px;
    }
    .hero-bg .card .details{
        line-height: 22.15px;
    }
    .feedback{
        margin: 5% auto !important;
    }
    .menu-fl{
        transform: translateY(4%);
    }
    .fffff{
        width: 40% !important;
        height: max-content !important;
        padding-bottom: 2rem !important;
    }
    .my-blogs,
    .fullblog{
        margin-top: 5rem !important;
    }
    .fullblog .read-bg,
    .my-blogs .read-bg{
        height: 30vh;
    }
    #indexBody{
        height: 100vh !important;
        overflow: hidden;
        position: relative;
    }
    #indexBody:after{
        content: "";
        position: absolute;
        bottom: -24%;
        overflow: hidden;
        right: -10% !important;
        width: 737px;
        height: 737px;
    }
    .herosection .card h1{
        font-size: 56px;
        line-height: 60.61px;
    }
    .herosection .card .hero-btn{
        width: 203px;
    }
    .herosection .card-img img{
        width: 90%;
        transform: translateX(-10%) translateY(-10%);
    }
}

@media (min-width: 200px) and (max-width: 767px) {
    .davi2{
        width: 65% !important;
    }
    .davi3{
        border: none;
        display: flex !important;
        width: max-content;
        padding: 7px .9rem 7px .5rem !important;
        color: #282828;
        border-radius: 5px;
        background: #D9D9D9;
    }
    .davi3 #fullname{
        font-size: 15px;
        font-weight: 600;
        line-height: 14.15px;
    }
    .davi3 #username{
        font-size: 12px;
        font-weight: 300;
        line-height: 14.52px;
    }
}

@keyframes fade {
    0%{
        opacity: 20%;
    }
    100%{
        opacity: 100%;
    }
}